
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorPrincipal: black;
}
body{
  font-family: "Noto Sans", sans-serif;

}
.col25{
    margin: 10px 0px 0px 0px;
    width: 25% ;
    background-color: var(--colorPrincipal);
    color: white;
    
}
footer{
    display: flex;

}
.productos{
    width: 100%;
    display: flex;
    gap: 10px;
}
.producto{
    width: 25% ;
    height: 150px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px -5px black;
    position: relative;
    span{
        padding: auto;
    }
    
    button{
        width: 80%;
        position: absolute;
        bottom: 2px;
        background-color: black;
        color: white;
        border-radius: 5px;

    }
    img{
        position: absolute;
        height: 50% ;
        width: 100%;

        
    }
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .shop{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
h3{
    display:flex ;
    justify-content: center
}
.Pagina{
    display: flex;
    justify-content: center;
    img{
        width: 100%;
    }
}